/* .center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding : 10px;
} */

/* .center-pos{
  text-align: center;
} */

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
