
<form [formGroup]="form" style="margin-top:40px;">
    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="form.get('email').invalid"> 
            <span *ngIf="form.get('email').hasError('required')">You must enter a value </span>
            <span *ngIf="form.get('email').hasError('email')">Email Not Valid </span>
        </mat-error>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="form.controls.password.invalid"> You must enter a value </mat-error>
    </mat-form-field>
</form>

<div style="text-align: right">
    <button mat-raised-button color="primary" (click)="login()">
        <span>Login</span>
        &nbsp;
        <mat-icon>exit_to_app</mat-icon>
    </button>
</div>


