<div style="margin:50px; text-align:center" *ngIf="!time">
    <button mat-raised-button color="warn" (click)="start()">Mulai Tes</button>
    <!-- <a routerLink="/home" style="margin-left: 10px">
        <button mat-raised-button color="red" >Kembali</button>
    </a> -->
</div>
<mat-card class="question mat-elevation-z4" *ngIf="time"> 
    <div style="margin-bottom:10px; text-align:center">
        <h3>
            Selamat Mengerjakan
        </h3>
        <span> {{time}}</span>
    </div>
    <mat-divider></mat-divider>

    <mat-card-content>
        <mat-grid-list cols="12" rowHeight="80px" style="margin-top:20px" fxShow.lt-md="false" fxShow.gt-sm="true">
             <mat-grid-tile
                [colspan]="12"
                [rowspan]="1"
            >
                <!-- <mat-button-toggle-group [value]="selectedValue" #group="matButtonToggleGroup" (change)="change($event)">
                    <mat-button-toggle *ngFor="let item of toogleOptions" [value]="item">
                        <span> {{ item }}</span>
                    </mat-button-toggle>
                </mat-button-toggle-group> -->
                <div *ngFor="let item of toogleOptions">
                    <button *ngIf="section[item-1].show && !questions[item-1].valid" mat-mini-fab color="accent" (click)="change(item)"> {{ item }}</button>
                    <button *ngIf="!section[item-1].show && !questions[item-1].valid" mat-mini-fab color="basic" (click)="change(item)"> {{ item }}</button>
                    <button *ngIf="questions[item-1].valid" mat-mini-fab color="primary" (click)="change(item)"> {{ item }}</button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        
        <div *ngFor="let item of questions, let i=index, let l=last, let f= first">
            <mat-card style="margin-top:20px" *ngIf="section[i].show">
                <mat-card-content>
                    <mat-grid-list cols="12" rowHeight="50px" >
                        <div *ngFor="let value of item.statements, let vi= index, let f = first">

                            <mat-grid-tile *ngIf="section[i].show && !hide" [colspan]="2" [rowspan]="1">
                            </mat-grid-tile>

                            <mat-grid-tile *ngIf="section[i].show"
                                [colspan]="1"
                                [rowspan]="1"
                            >
                                <span *ngIf="f"><b> {{i+1}}. </b></span>
                            </mat-grid-tile>
                            
                            <mat-grid-tile *ngIf="section[i].show"
                                [colspan]="statementColumn"
                                [rowspan]="1"
                            >
                                <span class="text-inside-grid">{{value.statement}}</span>
                            </mat-grid-tile>

                            <mat-grid-tile *ngIf="section[i].show"
                                [colspan]="2"
                                [rowspan]="1"
                            >

                                <button mat-mini-fab color="basic" *ngIf="!value.like" (click)="likes(i, vi)"> 
                                    <mat-icon> thumb_up </mat-icon>
                                </button>

                                <button mat-mini-fab color="primary" *ngIf="value.like" (click)="likes(i, vi)"> 
                                    <mat-icon> thumb_up </mat-icon>
                                </button>

                                <span style="margin-left: 10px" *ngIf="!hide">
                                    <b> Most </b>
                                </span>
                        
                            </mat-grid-tile>

                            <mat-grid-tile *ngIf="section[i].show"
                                [colspan]="2"
                                [rowspan]="1"
                            >
                                <button mat-mini-fab color="basic" *ngIf="!value.dislike" (click)="dislikes(i, vi)"> 
                                    <mat-icon> thumb_down </mat-icon>
                                </button>

                                <button mat-mini-fab color="warn" *ngIf="value.dislike" (click)="dislikes(i, vi)"> 
                                    <mat-icon> thumb_down </mat-icon>
                                </button>

                                <span style="margin-left: 10px" *ngIf="!hide">
                                    <b> Least </b>
                                </span>
                        
                            </mat-grid-tile>

                            <mat-grid-tile *ngIf="section[i].show && !hide" [colspan]="2" [rowspan]="1">
                            </mat-grid-tile>

                        </div>
                    </mat-grid-list>
                </mat-card-content> 
            </mat-card>
            <div style="text-align: right; margin-top:20px; margin-bottom:20px;" *ngIf="section[i].show">
                <button mat-raised-button style="margin-right:10px" color="warn" *ngIf="!f" (click)="previous(i)">Sebelumnya</button>
                <button mat-raised-button color="primary" *ngIf="!l" (click)="next(i)">Selanjutnya</button>
                <button mat-raised-button color="primary" *ngIf="l" (click)="submit()">Submit</button>
            </div>
        </div>
    </mat-card-content>
    
</mat-card>
