.question{
    margin: 20px;
}

.mat-form-field {
    /* margin: 5px 5px; */
    width: 100%;
}

.example-radio-button{
    margin-right : 20px;
}

.text-inside-grid {
    position: absolute;
    left: 5px;
};

mat-toolbar{
    text-align:center !Important;
}