<div style="margin:50px; text-align:center" *ngIf="!time">
    <button mat-raised-button color="warn" (click)="start()">Mulai Tes</button>
    <!-- <a routerLink="/home" style="margin-left: 10px">
        <button mat-raised-button color="red" >Kembali</button>
    </a> -->
</div>
<mat-card class="question mat-elevation-z4" *ngIf="time"> 
    <div style="margin-bottom:10px; text-align:center">
        <h3>
            Selamat Mengerjakan
        </h3>
        <span> {{time}}</span>
    </div>
    <mat-divider></mat-divider>

    <mat-card-content>
        <mat-grid-list cols="12" rowHeight="80px" style="margin-top:20px" fxShow.lt-md="false" fxShow.gt-sm="true">
             <mat-grid-tile
                [colspan]="12"
                [rowspan]="1"
            >
                <mat-button-toggle-group [value]="selectedValue" #group="matButtonToggleGroup" (change)="change($event)">
                    <mat-button-toggle *ngFor="let item of toogleOptions" [value]="item">
                        <span> {{ item }}</span>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </mat-grid-tile>
        </mat-grid-list>
        
        <div *ngFor="let item of questions, let i=index, let l=last, let f= first">
            <mat-card style="margin-top:20px" *ngIf="section[i].show">
                <mat-card-content>
                    <mat-grid-list cols="12" rowHeight="40px" >
                        <div *ngFor="let value of item.statements, let vi= index, let f = first">

                            <mat-grid-tile *ngIf="section[i].show"
                                [colspan]="1"
                                [rowspan]="1"
                            >
                                <span *ngIf="f"><b> {{i+1}}. </b></span>
                            </mat-grid-tile>
                            
                            <mat-grid-tile *ngIf="section[i].show"
                                [colspan]="7"
                                [rowspan]="1"
                            >
                                <span class="text-inside-grid">{{value.statement}}</span>
                            </mat-grid-tile>

                            <mat-grid-tile *ngIf="section[i].show"
                                [colspan]="2"
                                [rowspan]="1"
                            >
                                    
                                <mat-checkbox class="example-margin" color="primary" (click)="likes(i, vi)" [(ngModel)]="value.like">
                                    Like
                                </mat-checkbox>
                        
                            </mat-grid-tile>

                            <mat-grid-tile *ngIf="section[i].show"
                                [colspan]="2"
                                [rowspan]="1"
                            >
                                    
                                <mat-checkbox class="example-margin" color="warn" (click)="dislikes(i, vi)" [(ngModel)]="value.dislike"> 
                                    Dislike
                                </mat-checkbox>
                        
                            </mat-grid-tile>
                        </div>
                    </mat-grid-list>
                </mat-card-content> 
            </mat-card>
            <div style="text-align: right; margin-top:20px;" *ngIf="section[i].show">
                <button mat-raised-button style="margin-right:10px" color="warn" *ngIf="!f" (click)="previous(i)">Sebelumnya</button>
                <button mat-raised-button color="primary" *ngIf="!l" (click)="next(i)">Selanjutnya</button>
                <button mat-raised-button color="primary" *ngIf="l" (click)="submit()">Submit</button>
            </div>
        </div>
    </mat-card-content>
    
</mat-card>
