.admin{
    margin: 20px;
}

table{
    width: 100%;
    text-align: center !important;
}

.mat-header-cell {
    text-align: center;
}

.canClick{
    font-weight: normal;
    cursor:pointer;
}

.canClick :hover{
    color: #673ab7;
}

.cantClick{
    font-weight: normal;
}