<mat-card class="admin mat-elevation-z4"> 
  <div style="margin-bottom:10px">
      <span>Dashboard</span>
  </div>
  <mat-divider></mat-divider>

  <mat-card-content>
      <div style="margin-top: 30px;text-align: center;">

          <mat-accordion class="example-headers-align">
              <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Daftar User
                  </mat-panel-title>
                </mat-expansion-panel-header>
                
                <form [formGroup]="form" style="text-align: right; margin-right:10px">

                    <mat-form-field style="margin-right:20px">
                        <input matInput placeholder="Nama" formControlName="name">
                    </mat-form-field>

                    <mat-form-field style="margin-right:20px">
                        <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
          
                    <mat-form-field style="margin-right:20px">
                        <input matInput [matDatepicker]="picker" placeholder="Tanggal Mulai" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
          
                    <span style="margin-right:20px"> s/d </span>
          
                    <mat-form-field style="margin-right:20px">
                        <input matInput [matDatepicker]="picker1" placeholder="Tanggal Selesai" formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
          
                    <button mat-raised-button color="primary" (click)="search()">
                        <mat-icon>search</mat-icon>
                    </button>
                  </form>
          
                  <table mat-table [dataSource]="data" class="mat-elevation-z8" *ngIf="data.length > 0">
                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{page+i+1}} </td>
                      </ng-container>
                  
                    <ng-container matColumnDef="nama">
                      <th mat-header-cell *matHeaderCellDef> Nama </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                      <th mat-header-cell *matHeaderCellDef> No. Telp </th>
                      <td mat-cell *matCellDef="let element">
                          <span *ngIf="!element.phone"> - </span>
                          <span *ngIf="element.phone"> {{element.phone}}  </span> 
                      </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="result">
                      <th mat-header-cell *matHeaderCellDef> Hasil Tes </th>
                      <td mat-cell *matCellDef="let element"> 
                        <span *ngIf="!element.has_kuis"> - </span>
                        <span *ngIf="element.has_kuis"> Lihat Hasil </span>
                      </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="waktu">
                      <th mat-header-cell *matHeaderCellDef> Waktu </th>
                      <td mat-cell *matCellDef="let element"> 
                          <span *ngIf="!element.kuis_date"> - </span>
                          <span *ngIf="element.kuis_date">  {{element.kuis_date}}  </span>
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row [ngClass]="row.has_kuis ? 'canClick' : cantClick" (click)="getData(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>     
                  
                  <h4 *ngIf="data.length == 0"> Data tidak ditemukan</h4>
                  <div style="margin-top:30px;">
                    <mat-paginator *ngIf="data.length > 0"
                        [length]="length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="pageChangeEvent($event)">
                    </mat-paginator>
                  </div>

              </mat-expansion-panel>
            
              <mat-expansion-panel *ngIf="step == 1" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Hasil Tes : {{title}}
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <app-result [response]="graph" [hideButton]="true" [user]="user"></app-result>

              </mat-expansion-panel>
          </mat-accordion>
      </div>
  </mat-card-content>
  <mat-card-actions >
    
  </mat-card-actions>
</mat-card>
