<mat-card class="welcome mat-elevation-z4"> 
    <div style="margin-bottom:10px">
        <span>Dashboard</span>
    </div>
    <mat-divider></mat-divider>

    <mat-card-content>
        <div style="margin-top: 30px">
            <p align="center" style="font-size:24px"> 
                <b>
                    Selamat Datang di DISC Personality test PT. Prima Kompetensi (PRIMASI)
                </b>
            </p>

            
            <!-- <canvas #canvasEl width=300 height=600></canvas> -->
        </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
        <a routerLink="/home/how-to">
            <button mat-raised-button color="primary" style="margin-bottom:20px">
                <span> Lihat Cara Pengerjaan </span>
            </button>
        </a>
    </mat-card-actions>
</mat-card>

