<mat-card class="dashboard mat-elevation-z4"> 
    <div style="margin-bottom:10px">
        <span>Cara Pengerjaan</span>
    </div>
    <mat-divider></mat-divider>

    <mat-card-content>
        <div style="margin-top: 30px">
            <p align="justify">
                Pada  setiap baris, ada empat pernyataan, pilihlah satu yang <b>paling sesuai dengan diri ANDA</b> dengan memilih ikon thumb up berketerangan <b>Most</b>, 
                dan kemudian satu yang <b>paling tidak sesuai dengan diri ANDA</b> dengan memilih ikon thumb down berketerangan <b>Least</b> yang masing-masing berada di sebelah kanan pernyataan.
            </p>
            <p>
            Contoh :
            </p>

            <p align="center">
                <img class="responsive" src="./assets/images/example2.png">
            </p>
            <p align="justify">
                Pada keempat pernyataan berikut, seorang merasa dirinya lebih <b> "Mudah Bergaul, ramah" </b> maka pilihlah ikon thumb up <b>Most</b> di pernyatan tersebut, 
                dan begitupun jika yang bersangkutan menilai bahwa pernyataan <b>"Percaya pada orang lain"</b> paling tidak sesuai dengan dirinya, maka pilihlah ikon thumb down <b>Least</b> di pernyatan tersebut.   
            </p>
        </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
        <a routerLink="/home/disc">
            <button mat-raised-button color="primary">Kerjakan Soal</button>
        </a>
    </mat-card-actions>
</mat-card>
